*{
    font-family: arial,sans-serif;
    color: black;
}

body{
    color: white;
    background-color: black
}

h1{
    color: black;
    background-color: white;
}

h2{
    color: black;
    background-color: white;
}

div #image-container{
    width: 300px;
}
div #image-card{
    height: 400px;
    width: 300px;
    background-color: white;
}